node_modules/
dist/
.env
*.local

# Android
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/local.properties

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
